{:paths ["src" "resources"]
 :deps
        {org.clojure/clojure     {:mvn/version "1.10.1"}
         djblue/portal           {:mvn/version "0.6.4"}
         compojure               {:mvn/version "1.6.2"}
         ring/ring-jetty-adapter {:mvn/version "1.8.2"}
         org.clojure/tools.cli   {:mvn/version "1.0.194"}}}
